SCAM_DETECTOR_BOT_TOKEN="YOUR_DISCORD_BOT_TOKEN_HERE"
OWNER_ID="BOT_OWNER_ID"
IMAGE_EMBEDDING_MODEL_NAME="facebook/dinov3-vitb16-pretrain-lvd1689m"
INDEX_FILENAME="./data/image_index.faiss"
DB_FILENAME="./data/actions.db"
MATCH_THRESHOLD=0.7
